/*===============================
=            GENERAL            =
===============================*/
/*-----  End of GENERAL  ------*/
/*======================================
=            GENERAL VALUES            =
======================================*/
/*==========  GENERAL HTML VARS  ==========*/
/*==========  BORDER RADIUS VARS  ==========*/
/*==========  HELPER AVAILABLE VARS  ==========*/
/*==========  MEDIA QUERIES VARS  ==========*/
/*==========  COLOR VARS  ==========*/
/*==========  THEME VARS  ==========*/
/*==========  POINTER VARS  ==========*/
/*-----  End of GENERAL VALUES  ------*/
/*========================================
=            COMPONENT VALUES            =
========================================*/
/*==========  BUTTON VARS  ==========*/
/*==========  BUTTON GROUP VARS  ==========*/
/*==========  SPLIT BUTTON VARS  ==========*/
/*==========  BREADCRUMB VARS  ==========*/
/*==========  FORM VARS  ==========*/
/*==========  GRID VARS  ==========*/
/*==========  LABEL VARS  ==========*/
/*==========  MEDIA VARS  ==========*/
/*==========  SIDE NAV VARS  ==========*/
/*==========  TABLE VARS  ==========*/
/*==========  TYPOGRAPHY VARS  ==========*/
/*==========  PAGINATION VARS  ==========*/
/*==========  INLINE LIST VARS  ==========*/
/*==========  BOXY VARS  ==========*/
/*-----  End of COMPONENT VALUES  ------*/
/* ---------
    BOX SIZING!
    ------------ */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
*/
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

.row {
  max-width: 100%; }

.contents {
  width: 95%;
  margin: 0 auto; }

/*==========================================
=            DOCUMENTATION SCSS            =
==========================================*/
.docs-header {
  background-color: #922790;
  color: #fff;
  padding: 10px 20px ;
  padding: 0.55556rem 1.11111rem ;
  *zoom: 1; }
  .docs-header:before, .docs-header:after {
    display: table;
    content: "";
    line-height: 0; }
  .docs-header:after {
    clear: both; }
  .docs-header .logo {
    float: left;
    color: inherit;
    text-transform: uppercase; }
  .docs-header nav {
    float: right;
    padding-top: 20px ;
    padding-top: 1.11111rem ; }
    .docs-header nav li {
      display: inline-block;
      margin: 0 10px ;
      margin: 0 0.55556rem ; }
      .docs-header nav li:last-child {
        margin: 0 0; }
      .docs-header nav li a {
        color: inherit; }

footer {
  background-color: #922790;
  color: #fff;
  padding: 10px 20px ;
  padding: 0.55556rem 1.11111rem ; }
  footer p {
    margin-bottom: 0; }

.sidenav {
  background-color: #f5f5f5;
  color: #000;
  padding: 20px ;
  padding: 1.11111rem ; }
  .sidenav li {
    margin: 5px 0 ;
    margin: 0.27778rem 0 ; }

.docs-content {
  padding: 20px 0 ;
  padding: 1.11111rem 0 ; }

/*-----  End of DOCUMENTATION SCSS  ------*/

/*# sourceMappingURL=maps/docs.css.map */